*{
    margin: 0;
    padding: 0;
}
<link rel="stylesheet" href="style.css">
<body>
    <header>
        <h1>Vai ser uma imagem aqui</h1>
        <ul>
            <li>Escola</li>
            <li>Estudante</li>
        </ul>
    </header>
</body>
header {
    background-color: #424E61;
    color: white;
}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho {
    background-color: #89df3a;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#16971c, #18c02e);
    color: white;
    display: flex;
}
.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
.escola{
    background-image: linear-gradient(#424E61,#16CFF8);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

